@use '../utils/variables';

@mixin flexBox($direct, $justify, $align, $wrap)  {
	display: flex;
	flex-direction: $direct;
	justify-content: $justify;
	align-items: $align;
	flex-wrap: $wrap;
}

@mixin get_gutter() {
	padding-left: variables.$gutter;
    padding-right: variables.$gutter;
}

